# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.local
env/

# Node
node_modules/
/dist
/.vite

# IDE
.vscode/
.idea/

# Django
*.db.sqlite3

# Postgres
postgres/

# Docker
.dockerinit

# Environment
.env*